body {
	background-color : #ebebeb;
	font-family: 'Encode Sans Expanded', sans-serif;
	background: #f0f0f0;
	color: #2e2e2e;
}
#main {
	padding: 10px;
	padding-top: 100px;
}

#navbar {
	position: fixed;
	background-color : #f9f9f9;
	height: 66px;
	width: 100%;
	text-align: left;
	z-index: 100;
}

#left-navbar {
	display: block;
	position: fixed;
	max-width: 20%;
	margin: 0 auto;
	padding: 0 20px;
}

#title {
	line-height: 66px;
	color : #2f2f2f;
	font-size: 20px;
}

#topics {
	margin-top: 10px;
}

#topics li {
	border-bottom: 1px dotted black;
	font-size: 15px;
	border-radius: 4px;
	padding: 5px;
}

#qbutton {
	position: fixed;
	bottom: 10px;
	margin: 20px;
}

.question-header {
	font-size: 12pt;
}

.question-subheader {
	padding-top: 10px;
}

.latex-preview {
	border : 1pt dotted black;
	height: 200px;
	width: 100%;
	word-wrap: break-word;
	overflow-y: scroll;
	overflow-x: scroll;
}

#qbutton-nav {
	display: none;
}

@media (max-width: 1055px) {
    #left-navbar {
        display:none;
    }

    #qbutton {
    	display: none;
    }

    #qbutton-nav {
    	display: inherit;
    }
}
