body {
	background-color : #ebebeb;
}

#main {
	padding: 10px;
}

#navbar {
	background-color : #f9f9f9;
	height: 66px;
	width: 100%;
	text-align: left;
}

#left-navbar {
	/*background-color : #ebebeb;*/
	display: block;
	position: absolute;
	max-width: 20%;
	margin: 0 auto;
	padding: 0 20px;
}

#title {
	line-height: 66px;
	color : #2f2f2f;
	font-size: 20px;
}

#topics li {
	border-bottom: 1px dotted black;
	font-size: 15px;
	border-radius: 4px;
	padding: 5px;
}

#qbutton {
	position: absolute;
	bottom: 10px;
	margin: 20px;
}
