<!doctype html>
<html>
	<title>RTCing</title>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="static/api/Flat-UI/dist/css/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/api/Flat-UI/dist/css/flat-ui.css">
		<link rel="stylesheet" type="text/css" href="static/css/home.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>

		<script src="static/js/home.js"> </script>


		<!-- Global site tag (gtag.js) - Google Analytics 
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112239663-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-112239663-1');
		</script>
		-->

	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation"> 
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			      <span class="sr-only">Toggle navigation</span>
			    </button>
			    <a class="navbar-brand" href="#"> SingRTC </a>
			</div>
		</nav>
		<div class="main">
			<div id="loginContainer"> 

				<div class="row row-default">
					<div class="row-title"> username: </div>
				</div>
				<div class="row row-default"> 
					<div class="row-item">
						<input id="username" type="text" placeholder="your username" class="form-control input-sm row-item" />
					</div>
				</div>
				<div class="row"> </div>

				<div class="row row-default">
					<div class="row-title"> create room: </div>
				</div>
				<div class="row row-default"> 
					<div class="row-item">
						<input id="createRoom" type="text" placeholder="enter new room id" class="form-control row-item" />
					</div>
					<div class="row-item">
						<button id="createButton" class="btn btn-default row-item"> create </button>
					</div>
					
				</div>

				<div class="row row-default">
					<div class="row-title"> join room: </div>
				</div>
				<div class="row row-default"> 
					<div class="row-item">
						<input id="joinRoom" type="text" placeholder="enter room id" class="form-control row-item" />
					</div>
					<div class="row-item">
						<button id="joinButton" class="btn btn-default row-item"> join </button>
					</div>
					
				</div>
				

			</div> 
		</div>
		
		
	</body>
</html>